<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>.: aloise e-business :.</title>
	<!-- core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/owl.transitions.css" rel="stylesheet">
    <link href="css/prettyPhoto.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="images/ico/favicon.gif">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
 
<!--Google Analytics-->    
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-79503124-1', 'auto');
  ga('send', 'pageview');

</script>

    
</head><!--/head-->

<body id="home" class="homepage">

    <header id="header">
        <nav id="main-menu" class="navbar navbar-default navbar-fixed-top" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="logo"></a>
                </div>
				
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="scroll active"><a href="#home">Home</a></li>
                        <li class="scroll"><a href="#features">Especialidades</a></li>
                        <li class="scroll"><a href="#services">Produtos</a></li>
                        <li class="scroll"><a href="#portfolio">Portfólio</a></li>
                        <!--<li class="scroll"><a href="#about">About</a></li> -->
                        <li class="scroll"><a href="#meet-team">Equipe</a></li>
                        <li class="scroll"><a href="#get-in-touch">Contato</a></li>                        
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
    </header><!--/header-->

    <section id="main-slider">
        <div class="owl-carousel">
             <div class="item" style="background-image: url(images/slider/bg2.jpg);">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h2>Seja competitivo, <br><span>destaque-se</span> no mercado.</h2>
                                    <p>Conheça nossas soluções tecnológicas em projetos de e-commerce e SEO. 
                                    <br>Coloque seus produtos se erviços em destaque no mundo digital e conquiste novos clientes e seguidores para seus negócios.</p>
                                    <a class="btn btn-primary btn-lg" href="#services">Saiba Mais</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
            <div class="item" style="background-image: url(images/slider/bg1.jpg);">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h2>Seja criativo <br><span>destaque-se</span> no ambiente.</h2>
                                    <p>A forma de expressão de seu produto ou serviço caracterizada na arte gráfica do seu projeto digital. Conheça nossas soluções em conceito visual e multimidia.</p>
                                    <a class="btn btn-primary btn-lg" href="#portifolio">Saiba Mais</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
        </div><!--/.owl-carousel-->
    </section><!--/#main-slider-->

    <section id="cta" class="wow fadeIn">
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <h2>Soluções tecnológicas em desenvolvimento e criação!</h2>
                    <p>Atuamos desde 1998 oferecendo soluções tecnológicas que provêm, agilidade e lucratividade a nossos clientes e parceiros. Somos uma empresa especializada no desenvolvimento de sistemas e aplicações para internet, e na criação de interfaces gráficas para web-sites e projetos corporativos. Não exite em nos contatar e compartilhar as suas necessidades em tecnologia. </p>
                </div>
                <div class="col-sm-3 text-right">
                    <a class="btn btn-primary btn-lg" href="#get-in-touch">Fale Conosco!</a>
                </div>
            </div>
        </div>
    </section><!--/#cta-->

    <section id="features">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Nossas Especialidades</h2>
                <p class="text-center wow fadeInDown">Com a experiência de nossa equipe em projetos e soluções web, especializamo-nos em alguns tópicos <br>onde mantemos nosso foco de trabalho, atribuindo inovações e melhorias recorrentes aos nossos produtos.</p>
            </div>
            <div class="row">
                <div class="col-sm-6 wow fadeInLeft">
                    <img class="img-responsive" src="images/main-feature.png" alt="">
                </div>
                <div class="col-sm-6">
                    <div class="media service-box wow fadeInRight">
                        <div class="pull-left">
                            <i class="fa fa-globe"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Lojas, portais e web-sites</h4>
                            <p>Análise, desenvolvimento e customização de projetos web, consultoria de negócios e mercado para projetos e-commerce.</p>
                        </div>
                    </div>

                    <div class="media service-box wow fadeInRight">
                        <div class="pull-left">
                            <i class="fa fa-eye"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Concepção visual e multimídia</h4>
                            <p>Criação de projetos gráficos, identidades visuais e reestruturação visual em aplicações digitais.</p>
                        </div>
                    </div>

                    <div class="media service-box wow fadeInRight">
                        <div class="pull-left">
                            <i class="fa fa-line-chart"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">SEO Services</h4>
                            <p>Aumente a visualização e amplitude de seu negócio web ou físico através dos mecanismos de inteligência.</p>
                        </div>
                    </div>

                    <div class="media service-box wow fadeInRight">
                        <div class="pull-left">
                            <i class="fa fa-android"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Aplicativos</h4>
                            <p>Desenvolvimento de aplicativos para os sistemas Android e Ios.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="cta2">
        <div class="container">
            <div class="text-center">
                <h2 class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">UM <span>SEO</span> NA INTELIGÊNCIA DO SEU NEGÓCIO!</h2>
                <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">Não basta estar presente, no mercado digital o importante é destacar-se, ser "indexado" através da qualidade de estruturação e inteligência digital<br> com o apoio de um profissional especializado. Fale conosco e entenda como podemos ajudar na prospecção de seus projetos.</p>
                <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms"><a class="btn btn-primary btn-lg" href="#get-in-touch">Fale Conosco</a></p>
                <img class="img-responsive wow fadeIn" src="images/cta2/cta2-img.png" alt="" data-wow-duration="300ms" data-wow-delay="300ms">
            </div>
        </div>
    </section>

    <section id="services" >
        <div class="container">

            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Nossos Serviços</h2>
                <p class="text-center wow fadeInDown">Nossos projetos destacam-se por aliar tecnologias inovadoras a simplicidade de uso, <br>mantendo a constante preocupação com desempenho e segurança.</p>
            </div>

            <div class="row">
                <div class="features">
                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-shopping-cart"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Ecommerce</h4>
                                <p>Nosso principal produto. A experiência agregada de uma equipe para o desenvolvimento do seu negócio.</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-globe"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Sistemas Web</h4>
                                <p>Traga suas necessidades. Estamos prontos para projetar e desenvolver a solução ideal.</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-android"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">APPs</h4>
                                <p>Solução completa em criação e desenvolvimento de aplicativos para dispositivos móveis.</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->
                
                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-paint-brush"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Design Solutions</h4>
                                <p>Identidade digital, mail-mkt, reestruturação gráfica de projetos web ou multímidia.</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-cloud"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Web Sites e Blogs</h4>
                                <p>Pessoais, institucionais e corporativos com agilidade e criatividade.</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="500ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-line-chart"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">SEO</h4>
                                <p>O trabalho de inteligência focado no sucesso de vendas. </p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->
                </div>
            </div><!--/.row-->    
        </div><!--/.container-->
    </section><!--/#services-->

    <section id="portfolio">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Nossos Projetos</h2>
                <p class="text-center wow fadeInDown">Abaixo relacionamos alguns dos recentes projetos de criação e desenvolvimento da Aloise e-business.</p>
            </div>

            <div class="text-center">
                <ul class="portfolio-filter">
                    <li><a class="active" href="#" data-filter="*">Todos Projetos</a></li>
                    <li><a href="#" data-filter=".ecom">e-commerce</a></li>
                    <li><a href="#" data-filter=".web">web-site</a></li>
                    <li><a href="#" data-filter=".sistem">sistema</a></li>
                </ul><!--/#portfolio-filter-->
            </div>

		
          	  <div class="portfolio-items">
                <div class="portfolio-item ecom">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="images/portfolio/01.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>Oficina do Tenista</h3>
                            Ecommerce de tênis
                            <a class="preview" href="images/portfolio/full_01.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>                    
                </div><!--/.portfolio-item-->
            
                <div class="portfolio-item sistem">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="images/portfolio/08.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>DLD Lojista</h3>
                            Sistema de atendimento e vendas ao lojista.
                            <a class="preview" href="images/portfolio/full_08.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div>
			
                <div class="portfolio-item ecom">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="images/portfolio/02.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>HEAD Brasil</h3>
                            Ecommerce de tênis
                            <a class="preview" href="images/portfolio/full_02.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
             
	
                <div class="portfolio-item web">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="images/portfolio/07.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>Display</h3>
                            Web sites para eventos esportivos.
                            <a class="preview" href="images/portfolio/full_07.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div>
           
           
                
                
                
                 <div class="portfolio-item ecom">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="images/portfolio/05.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>HEAD Beach</h3>
                            Ecommerce de tênis
                            <a class="preview" href="images/portfolio/full_05.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
            

			
                <div class="portfolio-item ecom">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="images/portfolio/06.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>HI- TEC</h3>
                            Ecommerce de produtos de aventura.
                            <a class="preview" href="images/portfolio/full_06.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
             

			
                <div class="portfolio-item ecom">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="images/portfolio/03.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>HEAD Store</h3>
                            Ecommerce de tênis
                            <a class="preview" href="images/portfolio/full_03.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div>
                
                
                <div class="portfolio-item ecom">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="images/portfolio/04.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>Raquetes Usadas</h3>
                            Ecommerce de tênis
                            <a class="preview" href="images/portfolio/full_09.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
                
                <div class="portfolio-item web">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="images/portfolio/09.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>Hot Squash</h3>
                            Web site academia de squash.
                            <a class="preview" href="images/portfolio/full_09.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div>

                <div class="portfolio-item web">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="images/portfolio/10.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>DLD Com e Importação</h3>
                            Web site institucional.
                            <a class="preview" href="images/portfolio/full_10.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div>
                
                <div class="portfolio-item web">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="images/portfolio/11.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>Precise Projetos</h3>
                            Web site institucional.
                            <a class="preview" href="images/portfolio/full_11.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div>
                <!--/.portfolio-item-->
                
                
                <!--/.portfolio-item-->
		

                
                
            </div>
        </div><!--/.container-->
    </section><!--/#portfolio-->

    <section id="work-process">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Nosso Processo</h2>
                <p class="text-center wow fadeInDown">Conhecemos a importância do negócio de nossos clientes, desta forma utilizamos uma régua clara e objetiva de processos, onde as etapas são bem definidas. </p>
            </div>

            <div class="row text-center">
                <div class="col-md-2 col-md-4 col-xs-6">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
                        <div class="icon-circle">
                            <span>1</span>
                            <i class="fa fa-coffee fa-2x"></i>
                        </div>
                        <h3>SABER</h3>
                    </div>
                </div>
                <div class="col-md-2 col-md-4 col-xs-6">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="100ms">
                        <div class="icon-circle">
                            <span>2</span>
                            <i class="fa fa-bullhorn fa-2x"></i>
                        </div>
                        <h3>PLANEJAR</h3>
                    </div>
                </div>
                <div class="col-md-2 col-md-4 col-xs-6">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="200ms">
                        <div class="icon-circle">
                            <span>3</span>
                            <i class="fa fa-image fa-2x"></i>
                        </div>
                        <h3>CRIAR</h3>
                    </div>
                </div>
                <div class="col-md-2 col-md-4 col-xs-6">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="300ms">
                        <div class="icon-circle">
                            <span>4</span>
                            <i class="fa fa-code fa-2x"></i>
                        </div>
                        <h3>DESENVOLVER</h3>
                    </div>
                </div>
                <div class="col-md-2 col-md-4 col-xs-6">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="400ms">
                        <div class="icon-circle">
                            <span>5</span>
                            <i class="fa fa-spinner fa-2x"></i>
                        </div>
                        <h3>TESTAR</h3>
                    </div>
                </div>
                <div class="col-md-2 col-md-4 col-xs-6">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="500ms">
                        <div class="icon-circle">
                            <span>6</span>
                            <i class="fa fa-space-shuttle fa-2x"></i>
                        </div>
                        <h3>EXECUTAR</h3>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/#work-process-->

    <section id="meet-team">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Conheça Nossa Equipe</h2>
                <p class="text-center wow fadeInDown">Nosso time é formado por especialistas e jovens empreendedores, que buscam constantemente <br>o aperfeiçoamento de seus projetos e inovações tecnológicas.</p>
            </div>

            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
                        <div class="team-img">
                            <img class="img-responsive" src="images/team/01.jpg" alt="">
                        </div>
                        <div class="team-info">
                            <h3>Ricardo Aloise</h3>
                            <span>Diretor Executivo</span>
                        </div>
                        <p>Agrega grande experiência em projetos web, especializado em soluções para e-commerce.</p>
<!--                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/ricardo.aloise" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
 -->                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="100ms">
                        <div class="team-img">
                            <img class="img-responsive" src="images/team/02.jpg" alt="">
                        </div>
                        <div class="team-info">
                            <h3>Bruno Lee</h3>
                            <span>Analista de Sistemas</span>
                        </div>
                        <p>Programador certificado, atua na gerência de projetos e equipes de desenvolvimento.</p>
<!--                        <ul class="social-icons">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
 -->                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="200ms">
                        <div class="team-img">
                            <img class="img-responsive" src="images/team/03.jpg" alt="">
                        </div>
                        <div class="team-info">
                            <h3>Giovanna Milciukas</h3>
                            <span>Redes Sociais</span>
                        </div>
                        <p>Responsável pelo relacionamento de nossos clientes e seus projetos através das redes e mídias socais.</p>
<!--                        <ul class="social-icons">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
 -->                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="300ms">
                        <div class="team-img">
                            <img class="img-responsive" src="images/team/10.jpg" alt="">
                        </div>
                        <div class="team-info">
                            <h3>Guilherme Moreira</h3>
                            <span>Desenvolvedor</span>
                        </div>
                        <p>Especializado em projetos web e mobile, com foco em inovações tecnológicas.</p>
<!--                        <ul class="social-icons">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
 -->                    </div>
                </div>

                <div class="col-sm-6 col-md-3" style="padding-top: 10px;">
                    <div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="300ms">
                        <div class="team-img">
                            <img class="img-responsive" src="images/team/05.jpg" alt="">
                        </div>
                        <div class="team-info">
                            <h3>Erika Oliveira</h3>
                            <span>Analista de informação</span>
                        </div>
                        <p>Análise, gestão e disseminação de informação.</p>
<!--                        <ul class="social-icons">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
 -->                    </div>
                </div>



            </div>

            <div class="divider"></div>

            <div class="row">
                <div class="col-sm-4">
                    <h3 class="column-title">Projetos em Desenvolvimento</h3>
                    <strong>PRECISE PROJETOS</strong>
                    <div class="progress">
                        <div class="progress-bar progress-bar-primary" role="progressbar" data-width="70">70%</div>
                    </div>
                    <strong>BLVS</strong>
                    <div class="progress">
                        <div class="progress-bar progress-bar-primary" role="progressbar" data-width="15">15%</div>
                    </div>
                    <strong>HEADSTORE 2.0</strong>
                    <div class="progress">
                        <div class="progress-bar progress-bar-primary" role="progressbar" data-width="20">20%</div>
                    </div>
                    <strong>TATIANA ANDRADE ARQUITETURA</strong>
                    <div class="progress">
                        <div class="progress-bar progress-bar-primary" role="progressbar" data-width="60">60%</div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <h3 class="column-title">Nossa História</h3>
                    <div role="tabpanel">
                        <ul class="nav main-tab nav-justified" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#tab1" role="tab" data-toggle="tab" aria-controls="tab1" aria-expanded="true">1998</a>
                            </li>
                            <li role="presentation">
                                <a href="#tab2" role="tab" data-toggle="tab" aria-controls="tab2" aria-expanded="false">2001</a>
                            </li>
                            <li role="presentation">
                                <a href="#tab3" role="tab" data-toggle="tab" aria-controls="tab3" aria-expanded="false">2010</a>
                            </li>
                            <li role="presentation">
                                <a href="#tab4" role="tab" data-toggle="tab" aria-controls="tab4" aria-expanded="false">2016</a>
                            </li>
                        </ul>
                        <div id="tab-content" class="tab-content">
                            <div role="tabpanel" class="tab-pane fade active in" id="tab1" aria-labelledby="tab1">
                                <p>Após alguns anos trabalhando na área de tecnologia em hardware, Ricardo Aloise inicia o desenvolvimento de projetos web corporativos.</p>
                                <p>Surgia a Aloise Design e Tecnologia, e os primeiros projetos web de sua carteira de negócios e clientes.</p>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="tab2" aria-labelledby="tab2">
                                <p>O primeiro projeto de e-commerce totalmente desenvolvido pela equipe da Aloise entra em operação.</p>
                                <p>Com a necessidade do cliente em colocar seus produtos exclusivos ao alcance de todo o Brasil, desenvolvemos uma solução de vendas integrada a interfaces em flash. Um desafio com resultadod e sucesso por muitos anos. </p>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="tab3" aria-labelledby="tab3">
                                <p>Após anos desenvolvendo projetos inovadores, a Aloise encara o desafio da mudança.</p>
                                <p>Com a proposta de estruturar e assumir os projetos e-commerce de marcas esportivas, a equipe Aloise muda suas atividades para a cidade de Belo Horizonte, trabalhando com exclusividade no crescimento do setor.</p>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="tab4" aria-labelledby="tab3">
                                <p>A experiência em projetos web e no comércio eletrônico adquirida ao longo de 18 anos, pode contribuir com novos clientes.</p>
                                <p>Pensando assim, montamos uma equipe de novos projetos que está pronta para estudar as as necessidades de nossos clientes em busca de soluções tenológicas que superem suas expectativas.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
<!--                    <h3 class="column-title">Faqs</h3>
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Enim eiusmod high life accusamus
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Nihil anim keffiyeh helvetica
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Vegan excepteur butcher vice lomo
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
 -->        </div>
    </section><!--/#meet-team-->

<!--    <section id="animated-number">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Fun Facts</h2>
                <p class="text-center wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>

            <div class="row text-center">
                <div class="col-sm-3 col-xs-6">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
                        <div class="animated-number" data-digit="2305" data-duration="1000"></div>
                        <strong>CUPS OF COFFEE CONSUMED</strong>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="100ms">
                        <div class="animated-number" data-digit="1231" data-duration="1000"></div>
                        <strong>CLIENT WORKED WITH</strong>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="200ms">
                        <div class="animated-number" data-digit="3025" data-duration="1000"></div>
                        <strong>PROJECT COMPLETED</strong>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="300ms">
                        <div class="animated-number" data-digit="1199" data-duration="1000"></div>
                        <strong>QUESTIONS ANSWERED</strong>
                    </div>
                </div>
            </div>
        </div>
    </section
 -->

    <section id="get-in-touch">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Fale Conosco</h2>
                <p class="text-center wow fadeInDown">Estamos a sua disposição para informações sobre qualquer aspecto de projetos tecnológicos.<br> Utilize nosso formulário de contato, teremos muita satisfação em contribuir com seu projeto.</p>
            </div>
        </div>
    </section><!--/#get-in-touch-->


    <section id="contact">
        <div id="google-map" style="height:650px" data-latitude="-19.968976" data-longitude="-43.968649"></div>
        <div class="container-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-8">
                        <div class="contact-form">
                            <h3>Fale conosco</h3>

                            <address>
                              Av. Barão Homem de Melo, 4386 - Sala 1701<br>
                              Estoril - Belo Horizonte / MG<br>
                              <abbr title="Phone"></abbr>31 2510-7513 / Whatsapp: 31 975084832
                            </address>
                            <div id="mailStatus"></div>

                            <form id="ajax_form" name="contact-form" method="POST" action="http://www.e-dld.com.br/mailSender/mail.php">
                                <div class="form-group">
                                    <input type="text" name="name" id="name" class="form-control" placeholder="Nome Completo" required>
                                </div>
                                <div class="form-group">
                                    <input type="email" name="email" id="email" class="form-control" placeholder="Email" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="subject" id="subject" class="form-control" placeholder="Assunto" required>
                                </div>
                                <div class="form-group">
                                    <textarea name="message" id="message" class="form-control" rows="8" placeholder="Mensagem" required></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">Enviar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/#bottom-->

    <footer id="footer">
<!--        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2014 Your Company. Designed by <a target="_blank" href="http://shapebootstrap.net/" title="Free Twitter Bootstrap WordPress Themes and HTML templates">ShapeBootstrap</a>
                </div>
                <div class="col-sm-6">
                    <ul class="social-icons">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        <li><a href="#"><i class="fa fa-flickr"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-github"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
 -->    </footer><!--/#footer-->

    <script src="js/jquery.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript">
    jQuery(document).ready(function(){
        jQuery('#ajax_form').submit(function(){
            var dados = jQuery( this ).serialize();

            jQuery.ajax({
                type: "POST",
                url: "http://www.e-dld.com.br/mailSender/mail.php",
                data: dados
            });
            
             $("#mailStatus").html("<font color='#008000'>Sua mensagem foi enviada com sucesso. Por favor, aguarde nosso retorno.</font>");

            $("#name").val("");
            $("#email").val("");
            $("#subject").val("");
            $("#message").val("");



            return false;
        });
    });
    </script>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/mousescroll.js"></script>
    <script src="js/smoothscroll.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/jquery.inview.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/main.js"></script>
